#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #70d598;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#song-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
